*{
    box-sizing: border-box;
}
ul{
    display: grid;
    margin: auto;
    width: 70vw;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
}
li{
    font-family: 'NTR', sans-serif;
    list-style: none;
}
li:nth-child(4){
    grid-row: span 3;
    background-color: blue;
}
li:nth-child(2){
    grid-row: span 2;
    background-color: black;
}
li:nth-child(5){
    grid-column: span 4;
    grid-row: span 2;
    background-color: rgb(201, 14, 101);
}
li:nth-child(8){
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(175, 127, 214);
}
li:nth-child(3){
    grid-column: span 1;
    grid-row: span 3;
    background-color: rgb(207, 12, 61);
}
li:nth-child(1){
    grid-column: span 3;
    grid-row: span 1;
    background-color: rgb(8, 138, 62);
}