body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main_container{
    width: 100vw;
    height:100vh;
    margin: 0;
    /* background-color: rgb(212, 174, 212);
    background-image: linear-gradient(60deg, #ffffff, rgba(248, 58, 58, 0), #ffffff); */
    background-image: url('./assets/img/images.jpeg');
    background-repeat: no-repeat;
    background-size: 400%;
    animation: bg-animation 250s infinite alternate;
}

@keyframes bg-animation {
    0% { 
        background-position: left; 
    }
    100% {
        background-position: right; 
    }

}

h1{
    padding: 0;
    margin: 0;

}

p{
    font-size: 200px;
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'IBM Plex Sans Thai', sans-serif; */
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */
    letter-spacing: 0ch;
    padding: 0;
    margin: 0;
    cursor:context-menu;
}

a{
    font-family: 'Bebas Neue', cursive;
    color: #3D4246;
    text-decoration: none;
    font-size: 36px; 
    transition: 1s;
}

.link_menu:hover{
    color: #D6F361;
}

.navbar-container{
    width: 40%;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 43px;
    right: 20px;
}

.navbar-list{
    display:flex;
    list-style: none;
}

.navbar-list li{
    padding-right: 20px;
}

.main p{
    color: #3D4246;
    padding: 0;
    margin: 0;
}

.name-container{
    position: fixed;
    bottom: 182px;
    left: 40px;
}

.surname-container{
    position: fixed;
    bottom: 10px;
    left: 40px;
}


/* general work page style */

.work_container{
    display: flex;
    justify-content: space-evenly;
}

.container_one{
    margin: 10% 0;
    width: 40%;
    height: 100vh;
}

.container_two{
    width: 50%;
    height: 100vh;
    /* background-color: #FAFAFA; */
}

.performance_link{
    color: #3D4246;
    transition: none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 14px;
}

.performance_link h1{
    padding-bottom: 50px;
}

.research_link{
    color: #D6F361;
    transition: none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 14px;
}

.research_link h1{
    padding-bottom: 50px;
}

.collaboration_link{
    color: #3D4246;
    transition: none;
    font-family: 'Anton', sans-serif;
    letter-spacing: 14px;
}

.collaboration_link h1{
    padding-bottom: 50px;
}

/* Performance */

.performances{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.piece{
    width: 300px;
    text-align: center;
    margin: 15%;
    /* border: solid #3D4246; */
}

.piece p{
    padding-top: 5px;
    font-size:18px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
}

.piece_image{
    width: 300px;
}

.piece_image img{
    width: 300px;
    display: block;
}

.test{
    object-fit: cover;
}



