*{
    box-sizing: border-box;
}
ul{
    display: grid;
    grid-gap: 1rem;
    margin: auto;
    width: 70vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
li{
    font-family: 'NTR', sans-serif;
    list-style: none;
}
li:nth-child(1){
    grid-column: 1/3;
    grid-row: 1;
    background-color: rgb(221, 219, 199);
}
li:nth-child(2){
    background-color:#d3d4be;
}
li:nth-child(3){
    grid-column: 1/3;
    grid-row: 2;
}
li:nth-child(4){
    grid-column: 3;
    grid-row: 3;
}

/* img style */
.wigDuster{
    width: auto;
    height:246px;
}
/* p style */
#name {
    font-size: 30px;
    text-align: center;
}
#contact{
    text-align: end;
    padding-right: 20px;
    font-size: 20px;
}
@media only screen and (max-width: 800px){
    ul{
        display: block;
        margin: 0;
    }
}